<% include partials/header %>

<div class="wrapper">
<h3 class="users_all">LIST OF USERS</h2>
    <h4 class="users_all">users: <%= users.length  %></h4>
            <% users.forEach(user => { %>
                <a href=/users/<%= user.id %> >
                    <h4 class="users_all user_name"><%= user.name %></h4>
                    </a>
    <% }) %>
    <button class="btn"><a href=/users/newuser>ADD USER</a></button>
                </div>



<% include partials/footer %>