<% include partials/header %>

<div class="wrapper_bg">
<h1 class="">Welcome to Our Website</h1>
    <h2>Hello there!</h2>
<button class="btn" ><a href= '/register'>Register</a></button>
<button class= "btn" ><a href="/login">Login</a></button>

</div>

<% include partials/footer %>
