<% include partials/header %>

<div class="wrapper_bg">
    
  <div class="form_container">
    <h2 class="add_user">Login</h2>
    <form action="/login" method="post">
      <p class="input_text">Email</p>
      <input type="text" name="email" placeholder="Email ID" />
      <p class="input_text">Password</p>
      <input type="password" name="password" placeholder="Enter a password" />
      <input type="submit" value="Login" class="submit" />
    </form>
  </div>
</div>

<% include partials/footer %>