<% include partials/header %>

<h2>List of Articles</h2>
<% article.forEach(single=>{ %>
<a href="/articles/<%= single.id %>"><h3><%= single.title %></h3></a>
<p><%= single.author %></p>
<% }) %>
<button><a href="/articles/create">add Article</a></button>

<% include partials/footer %>