<% include partials/header %>

<h3>title: <%= article.title %></h3>
<h4>description: <%= article.description %></h4>
<p>likes: <%= article.likes %></p>
<h6> article by:<%= article.author %></h6>

<% include partials/footer %>