<!DOCTYPE html>
<html>
  <head>
    <title>📰 Articles</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/prism.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <div class="main_header">
    <% if(user){ %>
    <h4 class="user_name"><%= user.name %></h4>
    <% } %>
    <div class="header_logo">
      <a href="/articles"><img class="git_logo" src="/images/github.svg"/></a>
    </div>

    <div>
      <% if(user) { %>
      <a href="/users/logout"
        ><button class="btn trans_btn login">Logout</button></a
      >
      <% } else { %>
      <a href="/users/register"
        ><button class="btn trans_btn register">Register</button></a
      >
      <a href="/users/login"
        ><button class="btn trans_btn login">Login</button></a
      >
      <% } %>
    </div>
  </div>
  <body></body>
</html>
