////////////////////////////////////////users page//////////////////////////////////

//header

.main_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 3rem;
  background-image: linear-gradient(72deg, #291e95, #cc007a);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  width: 2.5%;
}
.git_logo {
  width: 100%;
}

.user_name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.6);
}
.user_name_header{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

// Articles

// all users

.list_all {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #333333;
}
.wrapper {
  width: 50%;
  margin: 6rem auto;
  position: relative;
}
.users {
  display: flex;
  margin: 1rem;
}
.img_container {
  width: 13%;
  padding: 0.5rem;
}
.userinfo {
  padding: 0.5rem;
}
#profile {
  width: 100%;
}
.articles_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  position: relative;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 1);
  margin: 0 1rem;
  padding: 0.2rem 0.5rem;
  color: rgb(121, 121, 121);
  border-radius: 1rem;
}
.author_name {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}
.author_name_prefix {
  font-size: 1rem;
  font-weight: 700;
  color: #000080;
  background-color: #f4f7f8;
  padding: 0.3rem 0.5rem;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  transform-origin: center;
  animation: flutter 2s linear infinite;
}
.author_introduction {
  font-size: 0.85rem;
  color: #7d7d7d;
  line-height: 1.5rem;
}
// user bar
.user_bar {
  display: flex;
  padding: 0.9rem;
  justify-content: space-between;
  background-color: #f4f7f8;
  border: 1px solid #ecf0f2;
  border-left: 5px solid #ecf0f2;
  border-right: 5px solid #ecf0f2;
  position: relative;
}
.user_bar_details {
  width: 80%;
  display: flex;
  align-items: center;
}
// comments
.comments {
  width: 3.5%;
  .comments_logo {
    width: 100%;
    opacity: 0.8;
  }
}
.comments_count {
  padding-right: 1rem;
}
.comments_count,
.likes_count {
  padding-left: 0.2rem;
}
.likes {
  width: 3.5%;
  .likes_logo {
    width: 100%;
    opacity: 0.8;
  }
}
.arrow_container_container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 0.8rem;
}
.arrow_container {
  padding: 1rem 4.2rem;
  right: 0.6rem;
  top: 0.6rem;
  border-radius: 1rem;
  background-color: rgba(94, 93, 93, 0.1);
}
.arrow {
  display: flex;
  align-items: center;
}
.arrow_articleinfo {
  text-decoration: none;
  transition: all 0.4s;
  color: #c5c4c4;
}

.user_bar:hover .arrow_articleinfo {
  transform: scale(1.3);
  animation: tilt 0.5s linear;
}

// buttons

.btn {
  font-size: 0.8rem;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  outline: none;
}
.trans_btn {
  transition: all 0.2s ease-in-out;
}
.trans_btn:hover {
  box-shadow: 0 4px 6px -6px black;
}
.register,
.login {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  border: none;
  width: 6rem;
}

// form

.form_newuser {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.form_input {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}
.input_value {
  border: none;
  outline: none;
  font-weight: 200;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  word-spacing: 0.2rem;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.2;
  padding: 0.8rem 0;
  margin: 0.5rem 0;
}

.checkbox_snippets {
  display: none;
}
.label_snippet {
  font-size: 1rem;
  padding: 0.8rem 0.2rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: all .5s;
}
.add_snippet {
  opacity: 0;
  font-size: 0.8rem;
  color: #7d7d7d;
  transition: opacity 0.7s ease-out;
}
.label_snippet:hover ~ .add_snippet {
  opacity: 1;
}
textarea {
  overflow: hidden;
  resize: vertical;
}
.input_snippets {
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  color: #fff;
  font-size: 1rem;
  line-height: 2.5;
  padding: 1.5rem;
  width:100%;
  background-color: transparent;
}
.input_snippets_container {
  max-height: 0;
  line-height: 2.5;
  padding: 0 1rem;
  transition: max-height 0.5s ease-in-out;
}
.checkbox_snippets:checked ~ .input_snippets_container {
  max-height: 18rem;
  background-color: #212121;
}

.input_value:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.input_value::placeholder {
  font-weight: 100;
  color: rgba(105, 27, 27, 0.3);
}
.input_snippets::placeholder {
  color: #fff;
}
.submit_newuser {
  width: 20%;
  color: #fff;
  background: linear-gradient(72deg, #291e95, #cc007a);
}
.input_articledescription {
  position: relative;
}

// register

.input_register {
  border: 1px solid rgba(131, 131, 131, 0.1);
  border-radius: 1rem;
  padding: 1rem;
}
.input_register:hover {
  border: 1px solid transparent;
  box-shadow: -1px 4px 10px -10px black;
}
.gender {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 100;
  border: none;
  background-color: rgba(184, 181, 181, 0.1);
  box-shadow: -1px 4px 10px -10px black;
  width: 50%;
  border-radius: 1rem;
}

// article_info

.article_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  text-align: justify;
}

.article_title {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.article_intro {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  line-height: 2;
}
.article_subtitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 0;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.article_description {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  line-height: 2;
}


// comments box
