

// comment_form
.comment_container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 0.5rem;
}
.comment_form {
  padding: 0.5rem;
}
#comment_box {
  width: 100%;
  margin: 0 auto;
  border: none;
  padding: 0.5rem;
  background-color: #f6f8fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  outline: none;
  font-size: 0.8rem;
}
.comment_button_container {
  padding: 0;
  text-align: right;
}
.comment_button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(103, 182, 89);
}
.comment_submit {
  border: none;
  background: transparent;
  outline: none;
  font-size: 0.8rem;
  color: #fff;
}
// user comments

.user_comments_box {
  padding: 1rem;
  border-radius: 1rem;
  max-height: 10.5rem;
  overflow: hidden;
  background-color: rgba(160, 160, 160, 0.1);
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 8fr 1fr;
  justify-content: space-between;
  direction: inherit;
  transition: all .5s;
}
.trash_edit {
    text-align: right;
    display: flex;
    align-items: center;
    
}
// images
.trash,.edit {
    width: 50%;
    opacity: .5;
    transition:all .2s ease-in-out;
    
}
.edit:hover {
    transform: scale(1.2);
    opacity: .8;
    box-shadow: 0 4px 10px -5px rgb(59, 59, 59);
}
.trash:hover {
    transform: scale(1.2);
    opacity: .8;
    box-shadow: 0 4px 10px -5px rgb(59, 59, 59);
}
.view_comments{
  font-size: .8rem;
  color: rgb(150, 150, 150);
}
#view_all_comments {
  display: none;
}
#view_all_comments:checked ~ .user_comments_box {
  max-height: 1000px;
 }

#profile_comment {
  width: 8%;
}

.user_comments {
  padding: 1rem;
  display: flex;
  align-items: center;
  
}
.comment_user {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 0.5rem;
}
.comment {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  font-weight: 100;
  border: none;
  background: transparent;
  outline: none;
  color: rgba(0, 0, 0, 0.6);
  
}
.edit_comment {
  width: 100%;
}

// user comment container 
.comment_view {
display: flex;
flex-direction: column-reverse;
}

// update comments

.form_update_comments{
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: rgba(160, 160, 160, 0.1);
}
#update_btn {
  width:10%;
  padding:.1rem .2rem;
  border-radius: 50%;
  background: transparent;
  margin: 1rem;
  outline: none;
  img {
    width: 100%;
    
  }
}
.btn_rotate {
  transform: rotate(360deg);
}