/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.skew {
  transform: skewy(-190deg);
  height: 16rem;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  background-color: #fff;
}

.header_container {
  position: absolute;
  z-index: 2;
  padding: 2.5rem;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
}

header {
  text-align: center;
  height: 6.2rem;
}
header h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}
header h2:hover {
  color: #291e95;
}
header p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  padding: 1rem 0;
}

.icon_container {
  width: 15%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.icon_main {
  display: inline-block;
  padding: 0.6rem;
}

.icon {
  width: 100%;
  border-bottom-left-radius: 50%;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  padding-top: 0.5rem;
  box-shadow: 0 8px 6px -6px black;
}

.blog_bg_ {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.blog_bg {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  background-image: url("/images/blog_bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.blog_context h3 {
  font-size: 3.5rem;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 1rem;
}
.blog_context p {
  font-size: 1rem;
  color: #fff;
}
.blog_context .btn {
  padding: 1rem 1rem;
  margin: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 2.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.blog_context .btn a {
  text-decoration: none;
  transition: all 0.5s ease-out;
  opacity: 0;
}
.blog_context .btn span {
  padding-left: 0.8rem;
  color: #fff;
  transition: all 0.5s ease-out;
}
.blog_context .btn:hover span {
  display: none;
}
.blog_context .btn:hover a {
  transform: scale(2);
  opacity: 1;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #fff;
}

.blog_bg_:hover ~ .blog_bg {
  transform: scale(1.1);
}

.main_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 3rem;
  background-image: linear-gradient(72deg, #291e95, #cc007a);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: 2.5%;
}

.git_logo {
  width: 100%;
}

.user_name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.6);
}

.list_all {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #333333;
}

.wrapper {
  width: 50%;
  margin: 6rem auto;
  position: relative;
}

.users {
  display: flex;
  margin: 1rem;
}

.img_container {
  width: 13%;
  padding: 0.5rem;
}

.userinfo {
  padding: 0.5rem;
}

#profile {
  width: 100%;
}

.articles_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  position: relative;
  font-weight: 400;
  background-color: white;
  margin: 0 1rem;
  padding: 0.2rem 0.5rem;
  color: #797979;
  border-radius: 1rem;
}

.author_name {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.author_name_prefix {
  font-size: 1rem;
  font-weight: 700;
  color: #000080;
  background-color: #f4f7f8;
  padding: 0.3rem 0.5rem;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  transform-origin: center;
  animation: flutter 2s linear infinite;
}

.author_introduction {
  font-size: 0.85rem;
  color: #7d7d7d;
  line-height: 1.5rem;
}

.user_bar {
  display: flex;
  padding: 0.9rem;
  justify-content: space-between;
  background-color: #f4f7f8;
  border: 1px solid #ecf0f2;
  border-left: 5px solid #ecf0f2;
  border-right: 5px solid #ecf0f2;
  position: relative;
}

.user_bar_details {
  width: 50%;
  display: flex;
  align-items: center;
}

.comments {
  width: 6%;
}
.comments .comments_logo {
  width: 100%;
  opacity: 0.8;
}

.comments_count {
  padding-right: 1rem;
}

.comments_count,
.likes_count {
  padding-left: 0.2rem;
}

.likes {
  width: 6%;
}
.likes .likes_logo {
  width: 100%;
  opacity: 0.8;
}

.arrow_container_container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 0.8rem;
}

.arrow_container {
  padding: 1rem 4.2rem;
  right: 0.6rem;
  top: 0.6rem;
  border-radius: 1rem;
  background-color: rgba(94, 93, 93, 0.1);
}

.arrow {
  display: flex;
  align-items: center;
}

.arrow_articleinfo {
  text-decoration: none;
  transition: all 0.4s;
  color: #ffffff;
}

.user_bar:hover .arrow_articleinfo {
  transform: scale(1.3);
  animation: tilt 0.5s linear;
}

.btn {
  font-size: 0.8rem;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  outline: none;
}

.trans_btn {
  transition: all 0.2s ease-in-out;
}

.trans_btn:hover {
  box-shadow: 0 4px 6px -6px black;
}

.register,
.login {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  border: none;
  width: 6rem;
}

.form_newuser {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.form_input {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.input_value {
  border: none;
  outline: none;
  font-weight: 200;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  word-spacing: 0.2rem;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.2;
  padding: 0.8rem 0;
  margin: 0.5rem 0;
}

.checkbox_snippets {
  display: none;
}

.label_snippet {
  font-size: 1rem;
  padding: 0.8rem 0.2rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: all 0.5s;
}

.add_snippet {
  opacity: 0;
  font-size: 0.8rem;
  color: #7d7d7d;
  transition: opacity 0.7s ease-out;
}

.label_snippet:hover ~ .add_snippet {
  opacity: 1;
}

textarea {
  overflow: hidden;
  resize: vertical;
}

.input_snippets {
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  color: #fff;
  font-size: 1rem;
  line-height: 2.5;
  padding: 1.5rem;
  width: 100%;
  background-color: transparent;
}

.input_snippets_container {
  max-height: 0;
  line-height: 2.5;
  padding: 0 1rem;
  transition: max-height 0.5s ease-in-out;
}

.checkbox_snippets:checked ~ .input_snippets_container {
  max-height: 18rem;
  background-color: #212121;
}

.input_value:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.input_value::placeholder {
  font-weight: 100;
  color: rgba(105, 27, 27, 0.3);
}

.input_snippets::placeholder {
  color: #fff;
}

.submit_newuser {
  width: 20%;
  color: #fff;
  background: linear-gradient(72deg, #291e95, #cc007a);
}

.input_articledescription {
  position: relative;
}

.input_register {
  border: 1px solid rgba(131, 131, 131, 0.1);
  border-radius: 1rem;
  padding: 1rem;
}

.input_register:hover {
  border: 1px solid transparent;
  box-shadow: -1px 4px 10px -10px black;
}

.gender {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 100;
  border: none;
  background-color: rgba(184, 181, 181, 0.1);
  box-shadow: -1px 4px 10px -10px black;
  width: 50%;
  border-radius: 1rem;
}

.article_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.article_title {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.article_intro {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  line-height: 2;
}

.article_subtitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 0;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.article_description {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  line-height: 2;
}

.comment_container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.comment_form {
  padding: 0.5rem;
}

#comment_box {
  width: 100%;
  margin: 0 auto;
  border: none;
  padding: 0.5rem;
  background-color: #f6f8fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  outline: none;
  font-size: 0.8rem;
}

.comment_button_container {
  padding: 0;
  text-align: right;
}

.comment_button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #67b659;
}

.comment_submit {
  border: none;
  background: transparent;
  outline: none;
  font-size: 0.8rem;
  color: #fff;
}

.user_comments_box {
  padding: 1rem;
  border-radius: 1rem;
  max-height: 10.5rem;
  overflow: hidden;
  background-color: rgba(160, 160, 160, 0.1);
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 8fr 1fr;
  justify-content: space-between;
  transition: all 0.5s;
}

.trash_edit {
  text-align: right;
  display: flex;
  align-items: center;
}

.trash, .edit {
  width: 50%;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.edit:hover {
  transform: scale(1.2);
  opacity: 0.8;
  box-shadow: 0 4px 10px -5px #3b3b3b;
}

.trash:hover {
  transform: scale(1.2);
  opacity: 0.8;
  box-shadow: 0 4px 10px -5px #3b3b3b;
}

.view_comments {
  font-size: 0.8rem;
  color: #969696;
}

#view_all_comments {
  display: none;
}

#view_all_comments:checked ~ .user_comments_box {
  max-height: 1000px;
}

#profile_comment {
  width: 8%;
}

.user_comments {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.comment_user {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 0.5rem;
}

.comment {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  font-weight: 100;
  border: none;
  background: transparent;
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}

.comment_view {
  display: flex;
  flex-direction: column-reverse;
}

.form_update_comments {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: rgba(160, 160, 160, 0.1);
}

#update_btn {
  width: 10%;
  padding: 0.1rem 0.2rem;
  border-radius: 50%;
  background: transparent;
  margin: 1rem;
  outline: none;
}
#update_btn img {
  width: 100%;
}

.btn_rotate {
  transform: rotate(360deg);
}

.transition {
  transform: rotate(360deg);
  background-color: #eb6b6b;
}

@keyframes flutter {
  25% {
    margin-left: 1rem;
  }
  50% {
    margin-left: 0;
  }
  75% {
    margin-right: 1rem;
  }
  100% {
    margin-right: 0;
  }
}
@keyframes tilt {
  25% {
    margin-left: 5rem;
    color: black;
  }
  50% {
    margin-left: 0;
    color: #494949;
  }
  75% {
    margin-right: 5rem;
    color: #afaeae;
  }
  100% {
    margin-right: 0;
    color: white;
  }
}
@media all and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .wrapper {
    width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
