<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>📰 Articles</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="skew"></div>
<section class="header_container">
<header class="header">
    <h2>BLOGS</h2>
    <p>Suraj Choudhury- Made Articles</p>
    <nav class="icon_container">
      <div class="icon_main"><a href="https://www.facebook.com/suraj.choudhury.735"><img class="icon" src="/images/facebook.svg" alt=""></a></div>
      <div class="icon_main"><a href="https://twitter.com/itz_sunny007"><img class="icon" src="/images/twitter.png" alt=""></a></div>
      <div class="icon_main"><a href="https://www.instagram.com/itz_sunny_007_/"><img class="icon" src="/images/instagram.png" alt=""></a></div>
      <div class="icon_main"><a href="https://github.com/itzsunny"><img class="icon" src="/images/github.svg" alt=""></a></div>
    </nav>
  </header>
</section>
</div>
   <div class="blog_bg_">
      <div class="blog_context">
          <h3>Hi, there.</h3>
          <p>The best way to predict your future is to create it , help people share your ideas in Articles.</p>
          <button class="btn"><span>Explore</span><a href="/articles">→</a></button>
        </div>
      </div>
      <section class="blog_bg">
        </section>
    
</body>
</html>


